.layout-modal {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
        0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 9px 28px 8px rgba(0, 0, 0, 0.05);
    min-width: 90vw;
    min-height: 240px;
    z-index: 1001;
    border-radius: 14px;
    background: white;
    border: 2px solid #000;
    overflow: hidden;

    @media (min-width: 1024px) {
        min-width: 400px;
    }

    &.in {
        animation: in 0.4s ease-in forwards;
    }

    &.out {
        animation: out 0.4s ease-out forwards;
    }

    .close {
        width: 30px;
        height: 30px;
        border-radius: 9999px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        z-index: 1003;
        transition: ease .3s;

        i {
            color: white;
            font-size: 30px;
            transition: ease .3s;
        }

        &:hover {
            background: #333;

            i {
                transform: scale(1.15);
            }
        }
    }
}

.layout-modal-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1002;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: saturate(40%) blur(20px);
    -webkit-backdrop-filter: saturate(40%) blur(20px);

    &.in {
        animation: mask-in 0.4s ease-in forwards;
    }

    &.out {
        animation: mask-out 0.4s ease-out forwards;
    }
}