.page-exchange {
  .right-box {
    background: url("../images/rewards/bg.svg") no-repeat center center;
    background-size: 96%;
  }
  .net-bg {
    background: url('../images/rewards/net.svg') no-repeat;
    background-size: calc(100% - 60px) auto; // 14px on each side, 28px total
    background-position: center bottom 30px; // Horizontal center, 14px from bottom
  }
  .tab-item {
    background-color: #424242;
    color: white;
    min-width: 120px;
    text-align: center;
    &.swap {
      border-top-left-radius: 8px;
    }
    &.stake {
      border-top-right-radius: 8px;
    }
    &.select {
      background: #cf0;
      color: black;
      font-weight: bold;
    }
  }
  .tab-content {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
@media screen and (max-width: 1024px) {
  .page-exchange {
    .right-box {
      background: none;
    }
  }
}
