.alpha-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 20px;
  text-align: center;
  min-height: 300px;

  .empty-state-icon {
    margin-bottom: 5px;

    .empty-state-image {

      object-fit: contain;
    }
  }

  .empty-state-description {

    color: #333333;
    line-height: 1.6;
    font-weight: bold;
  }

  &.flex-row {
    flex-direction: row;
    min-height: 100%;

    .empty-state-icon {
      margin-bottom: 0;
      flex-shrink: 0;
    }
  }
}
