.ai-card {
    &:hover {
        .chat-btn {
            display: flex;
        }

        .total {
            display: none;
        }
    }

}

@media screen and (max-width:768px) {
    .ai-card {
        .chat-btn {
            display: none;
        }

        &:hover {
            .chat-btn {
                display: none;
            }
        }
    }
}